body {
	background-image: url("../img/img.jpg");
}
h1	{
	color: #FF8C00;
	font-family: Chiller;
}
h5	{
	text-shadow: 5px 2px 2px Crimson;
	font-family: fort;
	font-size: 28px;
  background-color: lightgray;
}
label {
	text-align: center;
	color: blue;
	margin-left: 20px;
}
.rad {
	margin-left: 10px;
  color: white;
}
/*pour input*/
input[type=button] {
    background-color: yellow;
	text-align:Center;
    color: #8B0000;
	margin-top: 5px;
	margin-bottom: 5px;
    cursor: pointer;
    width: 7%;
	border-radius: 10px;
}
input[type=button]:hover {
    background-color: #8B0000;
    color: #53af57;
    border: 1px solid #53af57;
	border-radius: 25px;
}
/*navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  box-shadow: 5px 2px 2px Crimson ;
}


.list0 {
  display: block;
  color: green;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  background-color: lightgray;

}


/*pagination*/
.pagination {
  display: inline-block;
  margin-left: 36%; 
  border-bottom: 3px solid blue; 
  box-shadow: 10px 10px 5px black;
}

.pagination a {
  color: purple;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}


.pagination a:hover:not(.active) {background-color: #ddd;}
